@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque-Regular.eot');
    src: local('/fonts/Brandon Grotesque Regular'), local('BrandonGrotesque-Regular'),
        url('/fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/BrandonGrotesque-Regular.woff') format('woff'),
        url('/fonts/BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.navbar-brand {
    font-family: "Brandon Grotesque";
    font-size: 35px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
ul > li {
    font-family: "Brandon Grotesque";
    text-transform: uppercase;
}
.photogallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-photo > img {
    height: auto;
    max-width: 290px;
    margin: 5px;
}
.content-photo > img:hover {
    opacity: 0.5;
}
