@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque-Regular.eot');
    src: local('/fonts/Brandon Grotesque Regular'), local('BrandonGrotesque-Regular'),
        url('/fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/BrandonGrotesque-Regular.woff') format('woff'),
        url('/fonts/BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.navbar-brand {
    font-family: "Brandon Grotesque";
    font-size: 35px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
ul > li {
    font-family: "Brandon Grotesque";
    text-transform: uppercase;
}
.content-photo > img {
    height: auto;
    max-width: 290px;
    margin: 5px;
}
.content-photo > img:hover {
    opacity: 0.5;
}
#secondary-info {
    text-align: center;
}
.text-info {
    display: inline-block;
    text-align: center;
    font-family: "Brandon Grotesque";
    max-width: 300px;
    padding: 5px;
}
#main-content {
    margin: 15px 0 25px 0;
    display: flex;
    flex-wrap: no-wrap;
    padding: 0 4px;
}
.photogallery {
    flex: 33%;
    padding: 0 4px;
}
.photogallery > img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 150px;
}
.text-info > p {
    color: black;
}
.text-info > h2 {
    color: black;
    text-transform: uppercase;
}
.main-logo {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Brandon Grotesque";
    text-transform: uppercase;
}
.main-logo > p {
    padding: 5px;
}
hr {
    width: 150px;
    border: 1px solid black;

}
#contacts-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Brandon Grotesque";
}
.contact-photo {
    max-width: 300px;
    max-height: 250px;
    margin: 15px;
}
#contacts-info h3 {
    font-size: 20px;
    padding: 15px;
}
#contacts-info p {
    font-size: 15px;
    padding: 15px;
}
